/* Fonts */
@font-face {
  font-family: normal;
  src: url('../public/fonts/KoHo-Regular.ttf');
}
@font-face {
  font-family: bold;
  src: url('../public/fonts/KoHo-SemiBold.ttf');
}
@font-face {
  font-family: title;
  src: url('../public/fonts/ClickerScript-Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: normal;
  
}

html,
body {

  /* Colors */
  --green: #7D8E5C;
  --darkGreen: #545f3f;
  --black: #212120;
  --white: #EBEBE6;
  --red: #DB1E37;
  --brown: #7D6C68;
  --background: #D6D4CB;
  --backgroundShadow: #9b9991;

  padding: 0;
  margin: 0;
  font-family: normal;
  background-color: var(--white);
  height: 100%;

  p {
    margin: 0px;
    margin-bottom: 1rem;
    line-height: 1.5rem;
    &::selection {
      background-color: var(--red);
      color: white;
    }
  }

  //styling the scroll bar
  ::-webkit-scrollbar {
    width: 1rem;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px var(--black);
    background-color: var(--brown);
  }
  ::-webkit-scrollbar-thumb {
    background-color: var(--green);
    border-radius: 8px;
    border: 2px solid var(--darkGreen);
  }
  
}

/* HTML elements */
a {
  color: inherit;
  text-decoration: none;
}

footer {
  background-color: var(--brown);
  padding: 10px;
  margin-top: 10px;
  color: var(--white);
  justify-content: center;
  width: 100%;
  p {
    margin: 0px;
    text-align: center;
  }
  a {
    text-decoration: underline;
  }
}

h1, h2, h3 {
  font-family: title;
  text-transform: capitalize;
}

h1 { font-size: 2.488rem }

h2 { 
  font-size: 2.074rem; 
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
}

h3 { font-size: 1.44rem }

header {
  background-color: white;
  margin-bottom: 10px;
  h1 {
    margin: 0px;
    font-family: title;
    align-self: center;
    padding: 0px 10px;
    text-align: center;
    display: block;
  }
}

main {
  margin: 0px clamp(1.5rem, 8vw, 10rem);
}

nav {
  background-color: var(--green);
  ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    li {
      text-transform: uppercase;
      color: white;
      transition: color 0.2s ease-in;
      display: block;
      margin: 0px 20px;
      svg {
        min-width: 15px;
        max-width: 15px;
        display: none;
        transform: rotate(-15deg);
        position: relative;
        right: -3px;
        top: -4px;
      }
      a {
        font-family: bold;
        z-index: 999;
      }
      &:hover {
        color: var(--black);
      }
    }
  }
}

button {
  background-color: var(--red);
  color: var(--white);
  font-family: bold;
}

* {
  box-sizing: border-box;
  &::selection {
    background-color: var(--red);
    color: white;
  }
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  font-family: bold;
  font-weight: bold;
  a {
    &:hover {
      color: var(--red);
    }
  }
}

/* utility classes */
.center {
  text-align: center;
}
.currentPage {
  display: inline;
  margin-left: -15px;
}

.cursorPointer {
  &:hover {
    cursor: pointer;
  }
}

.eventComponent {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto;
  height: auto;
  width: auto;
  margin-bottom: 20px;
  grid-template-columns: auto;
  justify-content: center;
  div {
    display: flex;
    justify-content: center;
    img {
      max-width: 90%;
      height: auto;
      max-height: 400px;
      margin-bottom: 20px;
      display: block;
    }
  }
  
  .eventDescription {
    display: flex;
    flex-direction: column;
  }
  section {
    background-color: white;
    padding: 0px 20px 25px 20px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px var(--backgroundShadow);
    max-width: 1000px;
  }
  table {
    margin: 0px auto;
    max-width: 90%;
    tr {
      td {
        text-align: center;
      }
      /* titles of table data */
      td:nth-child(1) {
        font-weight: bold;
        text-align: right;
        padding: 5px 10px 2px 0px;
      }
    }
  }

  /* links */
  a {
    background-color: var(--red);
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 2px solid var(--red);
    transition: all 0.2s linear;
    text-align: center;
    display: block;
    margin: 0px auto;
    width: fit-content;
    &:hover {
      background-color: white;
      color: var(--red);
    }
  }
  /* paragraphs */
  p {
    text-align: center;
  }
}

.eventDivider {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  hr {
    width: 35%;
    height: 3px;
    background: var(--black);
    border: 0px;
    border-radius: 1.5px;
  }
  svg {
    height: 20px;
  }
}

.hero {
  display: flex;
  justify-content: center;
  img {
    max-height: 400px;
    max-width: 100%;
  }
}

.pageWrapper {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

.pictureWrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  img {
    margin: 10px;
    max-height: 300px;
    width:auto;
  }
}

.small-text {
  font-size: 0.833rem;
}

.subTitle {
  font-family: normal;
  font-size: 1.2rem;
  display: block;
  font-weight: bold;
}

.red {
  color: var(--red);
  font-family: bold;
  &::selection {
    background-color: var(--red);
    color: white;
  }
}

.sectionTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.3s ease-in;
  margin: 0px auto;
  width: fit-content;
  .heart {
    height: 30px;
    min-width: 30px;
    position: relative;
    right: 5px;
    transition: transform 0.3s ease-in;
    transform-origin: center;
    margin-top: 25px;
    margin-bottom: 10px;
    flex-basis: 30px;
  }
  &:hover {
    color: var(--red);
    .heart {
      transform: rotate(-15deg) translate(-10px, -4px);
    }
  }
}

.topHeader {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-template-areas: "logo" "title";
  justify-items: center;
  padding-top: 15px;
  margin-bottom: 15px;
  img {
    height: 120px;
  }
}

.bold {
  font-family: bold;
}


.wisdomSkills {
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  li {
    padding: 10px 20px;
  }
}

// flexbox-gap-fix
nav ul li:nth-child(1) {
  margin-bottom: 20px;
}

/* Media Queries */
@media screen and (min-width: 500px) {
  .contactInfo {
    flex-direction: row;
    gap: 30px;
  }
  .nav {
    ul {
      gap: 30px;
    }
  }
  .topHeader {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-template-areas: "logo title";
    justify-content: center;
  }
  
}

@media screen and (min-width: 459px) {
  nav ul li:nth-child(1) {
    margin-bottom: 0px;
  }
}